html {
  body {
    background-color: black;
    color: white;
    position: relative
  }

  height: 100%;
  width: 100%;
}


#tiledBackground {
  background-image: url(/BackgroundImages/GardenPath.jpg);
  background-size: 1000px;
  width: 1000px;
  height: 670px;
  background-repeat: no-repeat;
  position: absolute;
  left: 170px;
}

.B1 {
  background-color: transparent;
  width: 100px;
  padding: 100px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 500px;
}